.banner{
    width: 100%;
   background-image: url('../../public/PLATINUM-LODGEgb.jpg');
   height: 500px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}